[user]
	name = Hugo Matalonga
	email = hmatalonga@gmail.com
[core]
	editor = vi
	excludesfile = ~/.dotfiles/git/.gitignore_global
[push]
	default = simple
[color]
	ui = true
[alias]
	a = add
	aa = add -A
	amend = commit -a --amend
	ec = config --global -e
	c = commit -m
	cl = clone
	cm = !git add -A && git commit -m
	co = checkout
	cob = checkout -b
	d = diff
	dc = diff --cached
	ds = diff --stat
	i = init
	# one-line log
	l = log --pretty=format:'%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%ad %C(auto,green)%aN%C(auto,reset)% s%C(auto,red)% gD% D' --date=short
	# list aliases
	la = !git config -l | grep alias | cut -c 7-
	rao = remote add origin
	reset = !git reset --hard && git clean -df
	s = status -s
	save = !git add -A && git commit -m 'SAVEPOINT'
	sync = !git fetch upstream && git merge upstream/master
	undo = reset HEAD~1 --mixed
	up = !git pull --rebase --prune $@ && git submodule update --init --recursive
	wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
