#!/bin/bash

# make aliases sudo-able
alias sudo="sudo "

# directory navigation
alias ~="cd ~"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# some ls aliases
alias la="ls -A"
alias ll="ls -Al"
alias lt="ls -haltr"

# npm/yarn script shortcuts
alias t="yarn test"
alias s="yarn start"
alias b="yarn run build"
alias d="yarn run dev"
alias yr="yarn run"
alias yi="yarn run lint"
alias dt="yarn run dev:test"
alias ds="yarn run dev:ssr"

# blogging shortcuts
alias ns="yarn run dev"
alias nd="yarn run deploy"
alias blog="cd ~/Personal/blog && code . && yarn run dev"

# npm/yarn shortcuts that only list top-level modules
alias l="npm list --depth=0 2>/dev/null"
alias lg="yarn global list 2>/dev/null"

# process finding
alias pg="pgrep -lf"

# network alias
alias ports="netstat -tulanp"
alias lookdevices="sudo nmap -sP 192.168.1.0/24"

# Homestead vm aliases
alias vm="homestead ssh"
alias vup="vagrant up"
alias hup="homestead up"

# open current folder from terminal
alias o="pantheon-files . &"

# Run a local server
alias server="browse http://localhost:8000 && python -m SimpleHTTPServer"

# App shorthands
alias g="git"
alias top="vtop"
alias phpunit="vendor/bin/phpunit"
alias art="php artisan"
alias copy="xsel -ib"
