#!/bin/bash

# make aliases sudo-able
alias sudo="sudo "

# directory navigation
alias ~="cd ~"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# some ls aliases
alias la="ls -A"
alias ll="ls -Al"
alias lt="ls -haltr"

# npm script shortcuts
alias t="npm test"
alias s="npm start"
alias b="npm run build"
alias d="npm run dev"
alias dt="npm run dev:test"
alias ds="npm run dev:ssr"
alias nr="npm run"

# blogging shortcuts
alias ns="npm run dev"
alias nd="npm run generate && npm run deploy"
alias blog="cd ~/Personal/blog && code . && npm run dev"

# npm shortcuts that only list top-level modules
alias l="yarn list --depth=0 2>/dev/null"
alias lg="npm list -g --depth=0 2>/dev/null"

# process finding
alias pg="pgrep -lf"

# network alias
alias ports="netstat -tulanp"
alias lookdevices="sudo nmap -sP 192.168.1.0/24"

# Homestead vm aliases
alias vm="homestead ssh"
alias vup="vagrant up"
alias hup="homestead up"

# open current folder from terminal
alias o="pantheon-files . &"

# Run a local server
alias server="browse http://localhost:8000 && python -m SimpleHTTPServer"

# Apps shorthands
alias g="git"
alias top="vtop"
alias phpunit="vendor/bin/phpunit"
